<h1>相合傘</h1>
<%= form_for :post, url: '/input/show' do |f| %>
<p>
  <%= f.hidden_field :location, :value => params[:location] %>
</p>
<p>
  <%= f.submit('合言葉を登録') %>
</p>
<% end %>
<%= form_for :post, url: '/register/show' do |f| %>
<p>
  <%= f.hidden_field :location, :value => params[:location] %>
</p>
<p>
  <%= f.submit('合言葉を入力') %>
</p>
<% end %>
