<h1>合言葉を入力</h1>
<%= form_for :post, url: '/register/done' do |f| %>
<p>
  <%= f.text_field :uuid, placeholder: '合言葉を入力してください' %>
  <%= f.hidden_field :location, :value => params[:post][:location] %>
</p>
<p>
  <%= f.submit('認証') %>
</p>
<% end %>
<%= link_to "トップページへ戻る", top_index_path(location: params[:post][:location]) %>
